Flutter/I_am_rich/.gitignore
Flutter/I_am_rich/.metadata
Flutter/I_am_rich/pubspec.lock
Flutter/I_am_rich/pubspec.yaml
Flutter/I_am_rich/README.md
Flutter/I_am_rich/android/.gitignore
Flutter/I_am_rich/android/build.gradle
Flutter/I_am_rich/android/gradle.properties
Flutter/I_am_rich/android/settings.gradle
Flutter/I_am_rich/android/app/build.gradle
Flutter/I_am_rich/android/app/src/debug/AndroidManifest.xml
Flutter/I_am_rich/android/app/src/main/AndroidManifest.xml
Flutter/I_am_rich/android/app/src/main/kotlin/com/example/I_am_rich/MainActivity.kt
Flutter/I_am_rich/android/app/src/main/res/drawable/launch_background.xml
Flutter/I_am_rich/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
Flutter/I_am_rich/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
Flutter/I_am_rich/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Flutter/I_am_rich/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Flutter/I_am_rich/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Flutter/I_am_rich/android/app/src/main/res/values/styles.xml
Flutter/I_am_rich/android/app/src/profile/AndroidManifest.xml
Flutter/I_am_rich/android/gradle/wrapper/gradle-wrapper.properties
Flutter/I_am_rich/ios/.gitignore
Flutter/I_am_rich/ios/Flutter/AppFrameworkInfo.plist
Flutter/I_am_rich/ios/Flutter/Debug.xcconfig
Flutter/I_am_rich/ios/Flutter/Release.xcconfig
Flutter/I_am_rich/ios/Runner/AppDelegate.swift
Flutter/I_am_rich/ios/Runner/Info.plist
Flutter/I_am_rich/ios/Runner/Runner-Bridging-Header.h
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
Flutter/I_am_rich/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
Flutter/I_am_rich/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
Flutter/I_am_rich/ios/Runner/Base.lproj/LaunchScreen.storyboard
Flutter/I_am_rich/ios/Runner/Base.lproj/Main.storyboard
Flutter/I_am_rich/ios/Runner.xcodeproj/project.pbxproj
Flutter/I_am_rich/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Flutter/I_am_rich/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Flutter/I_am_rich/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Flutter/I_am_rich/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Flutter/I_am_rich/ios/Runner.xcworkspace/contents.xcworkspacedata
Flutter/I_am_rich/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Flutter/I_am_rich/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Flutter/I_am_rich/lib/main.dart
Flutter/I_am_rich/test/widget_test.dart
Flutter/sample/.gitignore
Flutter/sample/.metadata
Flutter/sample/pubspec.lock
Flutter/sample/pubspec.yaml
Flutter/sample/README.md
Flutter/sample/android/.gitignore
Flutter/sample/android/build.gradle
Flutter/sample/android/gradle.properties
Flutter/sample/android/settings.gradle
Flutter/sample/android/app/build.gradle
Flutter/sample/android/app/src/debug/AndroidManifest.xml
Flutter/sample/android/app/src/main/AndroidManifest.xml
Flutter/sample/android/app/src/main/kotlin/com/example/sample/MainActivity.kt
Flutter/sample/android/app/src/main/res/drawable/launch_background.xml
Flutter/sample/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
Flutter/sample/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
Flutter/sample/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Flutter/sample/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Flutter/sample/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Flutter/sample/android/app/src/main/res/values/styles.xml
Flutter/sample/android/app/src/profile/AndroidManifest.xml
Flutter/sample/android/gradle/wrapper/gradle-wrapper.properties
Flutter/sample/ios/.gitignore
Flutter/sample/ios/Flutter/AppFrameworkInfo.plist
Flutter/sample/ios/Flutter/Debug.xcconfig
Flutter/sample/ios/Flutter/Release.xcconfig
Flutter/sample/ios/Runner/AppDelegate.swift
Flutter/sample/ios/Runner/Info.plist
Flutter/sample/ios/Runner/Runner-Bridging-Header.h
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
Flutter/sample/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
Flutter/sample/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
Flutter/sample/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
Flutter/sample/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
Flutter/sample/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
Flutter/sample/ios/Runner/Base.lproj/LaunchScreen.storyboard
Flutter/sample/ios/Runner/Base.lproj/Main.storyboard
Flutter/sample/ios/Runner.xcodeproj/project.pbxproj
Flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Flutter/sample/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Flutter/sample/ios/Runner.xcworkspace/contents.xcworkspacedata
Flutter/sample/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Flutter/sample/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Flutter/sample/lib/main.dart
Flutter/sample/test/widget_test.dart
