*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 2rem; }

.header {
  position: relative;
  height: 90vh;
  background: #efefef; }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 2rem; }
  .header__logo {
    height: 6rem; }
