/* 
Colors:

light green: #7ed56f;
Medium green: #55c57a;
Dark green: #28b485;

*/
/* ------ General ----- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #777;
  padding: 2rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.5), rgba(40, 180, 133, 0.5)), url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

/* ------- logo ------- */
.logo-box {
  position: absolute;
  top: 1rem;
  left: 2rem; }

.logo {
  height: 10rem; }

/* .logo:hover{
    animation: moveInleft 2s ease-out;
} */
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/* --------- Header -------- */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 3.5rem;
  padding-left: 1%;
  /* animation-name: moveInright;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-out; */
  animation: moveInright 2s ease-out .2s;
  animation-fill-mode: backwards; }

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveInleft 2s ease-out .2s;
  animation-fill-mode: backwards; }

/* --------- Animation ---------- */
@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translatey(-8rem); }
  50% {
    transform: translatey(1rem); }
  /* 80% {
        transform: rotatex(180deg);
    } */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-7rem); }
  50% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInbtn {
  0% {
    opacity: 0;
    transform: translatey(5rem); }
  50% {
    transform: translatey(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ----- Button ----- */
.btn-white {
  background-color: #fff;
  color: #777; }

.btn:link,
.btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* opacity: 0; */ }

.btn::after {
  display: inline-block;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn::after {
  background: #fff; }

.btn:hover::after {
  transform: scalex(1.2) scaleY(1.4);
  opacity: 0; }

.btn-animated {
  animation: moveInbtn 1.5s ease-in .2s;
  animation-fill-mode: backwards; }
