// ------- Logo --------
.logo {
    height: 7rem;
    margin: 3rem 2rem 1.75rem;
}

// ------- search -------
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &-input {
        font-family: inherit;
        font-size: inherit;
        background: var(--color-gray-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 1000px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background: var(--color-gray-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            columns: var(--color-gray-light-4);
        }
    }

    &-input:focus+&-button {
        background: var(--color-gray-light-3);
    }

    &-button {
        border: none;
        background: var(--color-gray-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-gray-dark-3);
    }
}

// ------ user navigation ------
.user-nav {
    // background: greenyellow;
    display: flex;
    align-items: center;
    align-self: stretch;

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

    }

    &>*:hover {
        background: var(--color-gray-light-2);
    }

    &-icon-box {
        position: relative;

    }

    &-icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-gray-dark-2);
    }

    &-notification {
        background: var(--color-primary);
        color: var(--color-white);
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-user {}

    &-user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &-user-name {
        margin: .5rem;
    }
}

// ------- Side navigation ---------

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;


    &-item {
        position: relative;

        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }

    &-item::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(.99,0,0,1) .2s,
                    background-color .1s;
                
    }
    &-item:hover::before,
    &-item-active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &-item:active::before{
        background-color: var(--color-primary-light);
    }

    &-link:link,
    &-link:visited {
        color: var(--color-gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    &-icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

// ------- legal -------
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-gray-light-4);
}

// -------- Gallery ----------

.gallery{
    display: flex;

    &-photo{
        width: 100%;
        display: block;
    }
}

// -------- Hotel Overview ---------

.overview{
    display: flex;
    border-bottom: var(--line);
    align-items: center;

    &-heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &-stars{
        margin-right: auto;
        display: flex;
    }

    &-icon-star,
    &-icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &-location{
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &-icon-location{
        margin-right: .5rem;
    }


    &-rating{
        background: var(--color-primary);
        margin-left: 3rem;
        color: var(--color-white);
        align-self: stretch;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-count{
            font-size: .8rem;
            text-transform: uppercase;
        }

        &-average{
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;
        }
    }
}


// ------ button inline --------

.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    transition: all .2s;

    & span{
        margin-left: 3px;
        transition: margin-left .3s;
    }

    &:hover{
        color: var(--color-gray-dark-1);
        animation: pulsate 1s infinite;
        
        span{
            margin-left: 8px;
        }
    }

    &:focus{
        outline: none;
    }

    @keyframes pulsate {
        0%{
            transform: scale(1);
            box-shadow: none;
        }

        50%{
            transform: scale(1.05);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
        }

        100%{
            transform: scale(1);
            box-shadow: none;
        }
    }
}

// --------- paragraph --------
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}



// ---------- list --------

.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;

    &-item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &-item::before{
        content: '';
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;
        // background-image: url(../img/chevron-thin-right.svg);
        background: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
    }
}

// ----------- recommend -----------

.recommend{
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);
    display: flex;
    align-items: center;


    &-count{
        margin-right: auto;
    }

    &-friends{

    }

    &-photo{
        box-sizing: content-box;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        border: 3px solid var(--color-white);
        &:not(:last-child){
            margin-right: -1.5rem;
        }
    }
}


// --------- Reviews ----------

.review{
    background: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    &-text{
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }
    
    &-user{
        display: flex;
        // align-items: center;
    }

    &-photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &-user-box{
        margin-right: auto;
    }

    &-user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &-user-date{
        font-size: 1rem;
        color: var(--color-gray-dark-3);
    }

    &-rating{
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before{
        content: '\201C';
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-gray-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}

