* {
	margin: 0;
	padding: 0;
	/* display: border-box; */
}

body {
	font-size: 65.2%; //1rem=10px
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.header {
	border: 1px solid #fff;
}

.h1 {
	padding: 0.5rem;
	margin: 0 20rem;
	font-size: 1.6rem;
}
.h2 {
	padding: 0.5rem;
	margin: 0 15rem;
}
p {
	padding: 0.5rem;
	margin: 0 8rem;
	font-size: 1.2rem;
}
