.card {

    //functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;


    &__side {
        height: 52rem;
        transition: all .8s ease;
        // margin-left: 9rem;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //Front side styling
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        //New Browsers 
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        //Old Browsers
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(https://images.unsplash.com/photo-1542785853-cf202360bca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);

        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;

        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 74%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        //chrome
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .8), 
            rgba($color-primary-dark, .8));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: .2rem solid $color-gray-light-2;
                }
            }
        }
    }


    //Back side styling
    &__cta {
        @include abscenter;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}